/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fcf9f4;
}


/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 40px;
    margin: auto;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #3e733b;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background-color: #3e733b;
}

.navbar.sticky {
    padding: 15px 0;
    background: #3e733b;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    position: fixed;
    left: 30px;
    width: 200px;
    height: 30px;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo img {
    margin-left: 40px;
    width: 200px;
    height: 30px;
}

.navbar .logo a span {
    color: #3e733b;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}


.navbar .menu li {
    list-style: none;
    display: inline-block;

}

.navbar .menu li a {
    text-align: right;
    align-items: end;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}



.navbar.sticky .menu li a:hover {
    color: #fff;
}

/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.menu-cart {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #3e733b;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


/* home section styling */
.home {
    display: flex;
    background-image: url('../img/fundo.png');
    background-size: cover;
    /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Impede que a imagem se repita */
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    flex-wrap: wrap;

}

.home .max-width {
    margin: auto 0 auto 30px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.text-2 img {
    width: 100px;
    height: 110px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: #3e733b;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #3e733b;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: #fff;
    background: none;
}

.home .arrow {
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    bottom: 5%;
    left: calc(50% - 25px);
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.home .arrow span {
    text-align: center;
    font-size: 40px;
    color: #fff;
    background: #3e733b77;
    border-radius: 90px;
    padding: 3px;
    animation: animate 2s 3;
    position: relative;
}

.container {
    display: flex;

    width: 100%;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #3e733b;
}

.about {
    padding: 50px;
    background-color: #fcf9f4;
    font-family: 'Ubuntu', sans-serif;
}

.calendario {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 13pt;
    align-items: center;
    width: auto;
    height: 60px;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 15px;
    background-color: #3e733b;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.4s;

}

.calendario:hover {
    transform: scale(1.1);

    background-color: transparent;
    border: 2px solid #3e733b;
    color: #3e733b;
}

.calendario.selected {
    background-color: transparent;
    color: #3e733b;
    border: 2px solid #3e733b;
}

/* cardapio */

.cardapio-container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os itens "quebrem" para a próxima linha */
    gap: 30px;
    /* Espaçamento entre os cards */
    justify-content: center;
    /* Centraliza os itens na linha */
    margin-top: 30px;
}

.cardapio-item {
    background-color: #f9f9f9;
    cursor: pointer;
    margin-right: 50px;
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.cardapio-item2 {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardapio-item2 input {
    background-color: #f0f0f0;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
}

.topo {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

.direita {
    margin-left: 40px;
}

.esquerda select {
    height: 45px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3e733b;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.cardapio-item:hover {
    transform: scale(1.05);
}

.cardapio-item img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cardapio-item2 img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cardapio-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.cardapio-description {
    font-size: 14px;
    color: #555;
}

/* butão alterar */

.cardapio-altera {
    margin-top: 10px;
    height: 35px;
    border-radius: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #111;
}

.cardapio-altera:hover {
    border: 1px solid #3e733b;
    color: #3e733b;
}

/* cadastrar */

/* Esconde o input file padrão */
input[type="file"] {
    display: none;
}

/* Estiliza o label como um botão */
.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3e733b;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}



#preview {
    max-width: 100%;
    height: auto;
    display: none;
    /* Esconde a imagem até que uma seja selecionada */
}


.custom-swal-popup {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f7f7f7;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.custom-swal-title {
    font-size: 24px;
    font-weight: 400;
    color: #333;
    margin-bottom: 15px;
}

.custom-swal-text {
    font-size: 18px;
    color: #555;
}

.custom-swal-button {
    border: 2px solid #3e733b;
    color: #3e733b;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    align-content: center;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: none;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    background-color: #fcf9f4;
    ;
    margin: 0 auto;
    padding: 30px;
    height: 500px;
    width: 70%;
    border-radius: 25px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cta-button {
    background-color: #3e733b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: auto 50px;
    margin-top: 50px;
    transition-duration: 0.4s;
}

.cta-button:hover {
    transform: scale(1.1);

}

.right-content {
    margin-left: 50px;
    width: 100%;
}

form,
p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    color: #111;
}




.acompanhamentos input[type='checkbox'] {
    accent-color: #3e733b;
    /* Cor do checkbox */
    justify-content: center;
    border-radius: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-weight: 100;
}

.right-content h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #3e733b;
    text-align: center;
    font-size: 30pt;
    margin: 0 0 20px 0;
}

.left-content {
    display: flex;
}

.left-content img {
    border-radius: 20px;
    height: 440px;
    width: 500px;

}

.bebidas {
    background-color: #111;

}

/*valida descrição*/

.custom-alert {
    position: relative;
    background-color: #fff4e5;
    border: 1px solid #ffa502;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

.custom-alert::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ffa502 transparent;
}

.custom-alert-icon {
    color: #ffa502;
    margin-right: 5px;
    font-weight: bold;
}